/**
 * NOTE: This class is auto generated by the akka-scala (beta) swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * For any issue or feedback, please open a ticket via https://github.com/swagger-api/swagger-codegen/issues/new
 */
package io.swagger.client.api

import io.swagger.client.model.BaseInfo
import io.swagger.client.model.ErrorInfo
import io.swagger.client.model.Product
import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object DefaultApi {

  /**
   * 保険商品をカテゴリ、名前で検索します。
   * 
   * Expected answers:
   *   code 200 : Seq[Product] (保険商品情報)
   *   code 404 : ErrorInfo (エラー（該当商品がない）)
   * 
   * @param &#x60;api-key&#x60; API Key
   * @param &#x60;c&#x60; 商品カテゴリ
   * @param &#x60;p&#x60; 商品名
   * @param pid 商品ID
   */
  def productsGET(&#x60;api-key&#x60;: String, &#x60;c&#x60;: Option[String] = None, &#x60;p&#x60;: Option[String] = None, pid: Option[String] = None): ApiRequest[Seq[Product]] =
    ApiRequest[Seq[Product]](ApiMethods.GET, "https://virtserver.swaggerhub.com/anishi1222/InsuranceProduct/1.0.0", "/product", "application/json")
      .withQueryParam("c", &#x60;c&#x60;)
      .withQueryParam("p", &#x60;p&#x60;)
      .withQueryParam("pid", pid)
      .withHeaderParam("api-key", &#x60;api-key&#x60;)
      .withSuccessResponse[Seq[Product]](200)
      .withErrorResponse[ErrorInfo](404)
        /**
   * 保険商品を追加します。
   * 
   * Expected answers:
   *   code 201 : Product (保険商品情報)
   *   code 403 : ErrorInfo (エラー（商品追加に失敗）)
   * 
   * @param &#x60;api-key&#x60; API Key
   * @param newProduct 追加したい保険商品情報
   */
  def productsPOST(&#x60;api-key&#x60;: String, newProduct: BaseInfo): ApiRequest[Product] =
    ApiRequest[Product](ApiMethods.POST, "https://virtserver.swaggerhub.com/anishi1222/InsuranceProduct/1.0.0", "/product", "application/json")
      .withBody(newProduct)
      .withHeaderParam("api-key", &#x60;api-key&#x60;)
      .withSuccessResponse[Product](201)
      .withErrorResponse[ErrorInfo](403)
        /**
   * 保険商品を変更します。
   * 
   * Expected answers:
   *   code 200 : Product (保険商品情報)
   *   code 404 : ErrorInfo (エラー（該当する商品がない）)
   * 
   * @param &#x60;api-key&#x60; API Key
   * @param pid 変更したい商品の商品ID
   * @param product 変更したい保険商品情報
   */
  def productsPUT(&#x60;api-key&#x60;: String, pid: String, product: BaseInfo): ApiRequest[Product] =
    ApiRequest[Product](ApiMethods.PUT, "https://virtserver.swaggerhub.com/anishi1222/InsuranceProduct/1.0.0", "/product/{pid}", "application/json")
      .withBody(product)
      .withPathParam("pid", pid)
      .withHeaderParam("api-key", &#x60;api-key&#x60;)
      .withSuccessResponse[Product](200)
      .withErrorResponse[ErrorInfo](404)
      

}

