/**
 * NOTE: This class is auto generated by the akka-scala (beta) swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * For any issue or feedback, please open a ticket via https://github.com/swagger-api/swagger-codegen/issues/new
 */
package io.swagger.client.api

import io.swagger.client.model.ErrorInfo
import io.swagger.client.model.Product
import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object ProductsApi {

  /**
   * 売り止めの保険商品を廃止します。  activeフィールドがfalseに変わります。  廃止日時にタイムスタンプが入ります（物理削除ではありません）。 
   * 
   * Expected answers:
   *   code 200 : Product (保険商品情報)
   *   code 403 : ErrorInfo (エラー（削除に失敗）)
   *   code 404 : ErrorInfo (エラー（該当する商品がない）)
   * 
   * @param &#x60;api-key&#x60; API Key
   * @param pid 変更したい商品の商品ID
   */
  def productsDELETE(&#x60;api-key&#x60;: String, pid: String): ApiRequest[Product] =
    ApiRequest[Product](ApiMethods.DELETE, "https://virtserver.swaggerhub.com/anishi1222/InsuranceProduct/1.0.0", "/product/{pid}", "application/json")
      .withPathParam("pid", pid)
      .withHeaderParam("api-key", &#x60;api-key&#x60;)
      .withSuccessResponse[Product](200)
      .withErrorResponse[ErrorInfo](403)
      .withErrorResponse[ErrorInfo](404)
      

}

